.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    width: 60%;
    height: 100%;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 2%;
    overflow-y:auto;

    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #888888;

}